<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <property name="patternString" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx"/>
    <appender name="LE"
              class="com.logentries.logback.LogentriesAppender">
        <Debug>False</Debug>
        <Token>${LOGENTRIES_TOKEN}</Token>
        <Ssl>True</Ssl>
        <facility>USER</facility>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.ai">
        <appender-ref ref="LE"/>
    </logger>

    <logger name="org.eclipse.jetty" level="OFF">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>